[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
pyyaml = "*"
logging = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "pre-commit run --all-files"
pre-commit = "pre-commit install"
fix = "autopep8 --in-place --ignore=E402 --recursive ."
bot = "python3 bot/bot.py"
